#include<windows.h>
#include"resource.h"

IDD_MAIN_MENU DIALOGEX 100,50,300,200
STYLE DS_MODALFRAME| WS_POPUP| WS_CAPTION |WS_SYSMENU|WS_MINIMIZEBOX
CAPTION "The Four-Color Conjecture Game"
FONT 10, "MS Sans Serif"
BEGIN
    DEFPUSHBUTTON  "Play",IDD_PLAY, 120, 80, 60, 20
    PUSHBUTTON "How to Play", IDD_TUT, 120,120, 60,20
    PUSHBUTTON  "Exit", IDD_EXIT ,120, 160, 60,20

END



IDD_INSTRUCT DIALOG 100,50, 300,100
STYLE DS_MODALFRAME|WS_POPUP| WS_CAPTION
CAPTION "How to play?"
FONT 8, "Arial"
BEGIN
    LTEXT "TAB and Arrow keys to navigate through the vertices", IDC_STATIC, 15, 15, 200,50
     LTEXT "Space to insert color in the highlighted vertex", IDC_STATIC, 15, 50, 200,50
    PUSHBUTTON "OK" ,IDOK, 10,80, 20,10
END



IDD_PROMPT DIALOG 100,50,250,150
STYLE  DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "User Input"
FONT 10, "MS Sans Serif"
BEGIN

    EDITTEXT IDD_INPUT_VERTEX, 110, 15, 12,10, ES_NUMBER
    EDITTEXT IDD_INPUT_EDGES, 110,125,12,10, ES_NUMBER
    PUSHBUTTON "Generate Graph!", GENERATE_GRAPH, 150, 50, 70, 40
    PUSHBUTTON "Return to Main Menu", RETURN, 150,120, 80,20
END


IDD_DONE DIALOG 100, 50 , 500, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Done!"
FONT 8, "Arial"
BEGIN
    LTEXT "Puzzle Solved! Do you still want to continue?" , IDC_STATIC , 15,15,100,100
    PUSHBUTTON "Yes", YEET, 300,25, 80,20
    PUSHBUTTON "No", NOOT, 300, 50, 80, 20
END


IDD_QUIT_DIALOG DIALOG 100, 50 , 500, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
FONT 10, "Arial"
BEGIN
    LTEXT "Do you want to quit the game?" , IDC_STATIC , 15,15,100,100
    PUSHBUTTON "Yes", IDOK, 300,25, 80,20
    PUSHBUTTON "No", IDNO, 300, 50, 80, 20
END

IDD_END DIALOG 100, 50 , 500, 80
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Done!"
FONT 8, "Arial"
BEGIN
    LTEXT "Puzzle Solved! Thanks for playing" , IDC_STATIC , 15,15,100,50
    PUSHBUTTON "Ok", IDNO, 300, 50, 80, 10
END

